{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Professor Information</title>
    <link rel="stylesheet" href="{% static 'college_app/css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Add Professor</h1>
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/home/">Home</a></li>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="/professor_info/">Professor Imformation</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>

    <footer>
        <p>&copy; JM College</p>
    </footer>

    <script src="{% static 'college_app/js/script.js' %}"></script>
</body>
</html>
