{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <link rel="stylesheet" href="{% static 'college_app/css/styles.css' %}">
</head>
<body>
    <header>
        <h1> Welcome to JM College </h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <p>"Education is the key to unlock
                 the golden door of freedom."</p>
        </section>
    </main>

    <footer>
        <h2>Founded by: Dr. JAGNATHAN MORE</h2>
        <p>Established: 1965</p>
        <p>Contact Information: jm1968@email.com</p>
    </footer>

    <script src="{% static 'college_app/js/script.js' %}"></script>
</body>
</html>
